name: Dependabot PRs
run-name: Dependabot Pull-Requests
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
permissions:
  contents: write
  pull-requests: write
  checks: read
  statuses: read
jobs:
  pr:
    if: ${{ github.actor == 'dependabot[bot]' && github.event.pull_request.draft == false && github.event.action != 'closed' }}
    runs-on: ubuntu-latest
    env:
      VERSION: version-update:semver
    steps:
      - name: Required status checks feedback
        uses: fountainhead/action-wait-for-check@v1.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.event.pull_request.head.sha }}
          # Leaving empty to wait for all the checks
          checkName: ""
          intervalSeconds: 20
      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Fetch Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Approve & Auto-merge (patch/minor) + PR branch deletion
        env:
          PATCH: ${{ env.VERSION }}-patch
          MINOR: ${{ env.VERSION }}-minor
        if: ${{ steps.metadata.outputs.update-type == env.PATCH || steps.metadata.outputs.update-type == env.MINOR }}
        run: scripts/dependabot_merge.sh ${{ github.event.pull_request.number }}
      - name: Request review from codeowner on major update
        env:
          MAJOR: ${{ env.VERSION }}-major
        if: ${{ steps.metadata.outputs.update-type == env.MAJOR }}
        run: scripts/dependabot_review.sh ${{ github.event.pull_request.number }} ${{ github.repository_owner }}
